.card {
  padding: 10px 20px;
  border: 2px solid #202020;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.name {
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.status {
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.online {
  color: green;
}

.offline {
  color: red;
}
